.pageWrapper {
    padding: 30px 100px;
}

.pageWrapper h1 {
    font-size: 60px;
    font-weight: normal;
    margin-left: 60px;
}

.articleCard {
    align-items: center;
    border: 1px solid black;
    display: flex;
    padding: 10px;
    margin: 60px;
}

.articleCard-image {
    background: #C4C4C4;
    height: 200px;
    margin: 30px;
    width: 100%;
}

.articleCard-content {
}

.articleCard-title {
    font-size: 35px;
    margin: 0px;
}

.articleCard-date {
    margin-left: 10px;

}

.articleCard-text {
}

.articleCard-link {
    font-weight: bold;
}

.article-header {
    background-color: #C4C4C4;
    text-align: center;
}

.article-header-text {
    display: inline-block;
    margin: 20px 300px;
    text-align: left;
}

.article-title {
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 5px;
}

.article-date {
    font-weight: 500;
    margin-top: 0px;
}

.article-blurb {
    font-weight: 500;
    font-size: 20px;
}

.article-section {
    text-align: center;
    margin: 50px 300px;
}

.article-section-text {
    display: inline-block;
    text-align: left;
}

.article-h2 {

}

.article-h3 {

}

.article-text {

}


