.pageWrapper {
    padding: 30px 100px;
}

.pageWrapper h1 {
    font-size: 60px;
    font-weight: normal;
    margin-left: 50px;
}

.articleCard {
    align-items: center;
    border: 1px solid black;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 40px;
}

.articleCard-image {
    margin: 10px 30px 10px 10px; 
    height: 180px;
    width: 300px;
}

.articleCard-image img {
    height: 100%;
    width: 100%;
}

.articleCard-content {
}

.articleCard-title {
    font-size: 30px;
    margin: 0px;
}

.articleCard-date {
    margin-left: 10px;
}

.articleCard-blurb {
}

.articleCard-link {
    font-weight: bold;
}

.article-header {
    background-color: #C4C4C4;
    text-align: center;
}

.article-header-text {
    display: inline-block;
    margin: 20px 300px;
    text-align: left;
}

.article-title {
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 5px;
}

.article-date {
    font-weight: 500;
    margin-top: 0px;
}

.article-blurb {
    font-weight: 500;
    font-size: 20px;
}

.article-section {
    text-align: center;
    margin: 50px 300px;
}

.article-section-text {
    display: inline-block;
    text-align: left;
}

.article-h2 {

}

.article-h3 {

}

.article-text {

}


